name: build

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.25
      - uses: golangci/golangci-lint-action@v9
        with:
          version: v2.5.0

  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.25
      - uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: 2.3.2
          args: build --clean --snapshot
